<div class="card">
    <div  class="card-header bg-dark text-white">
        <h2>Choose a Game</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Player</div>
            <div class="col-md-5">Shooty mcShoots</div>
        </div>
        <div class="row">
            <div class="col-md-2">Rank</div>
            <div class="col-md-5">4</div>
        </div>
        <div class="row">
            <div class="col-md-2">Score</div>
            <div class="col-md-5">3</div>
        </div>    
        <div class="row">
            <div class="col-md-2">Time</div>
            <div class="col-md-5">6hrs</div>
        </div>
        <div class="row">
            <div class="col-md-2">Favourite Game</div>
            <div class="col-md-5">Quake</div>
        </div>   
        <div class="row">
            <div class="col-md-2">Pick Game</div>
            <div class="col-md-5">
                <form>
                    <select>
                        <option>Quake</option>
                        <option>Doom</option>
                        <option>Unreal</option>
                    </select>
                </form>
            </div>
            
        </div> 
        <a class="btn btn-primary mr-3" routerLink="/" routerLinkActive="active">Join</a>
         <a class="btn btn-primary" routerLink="/" routerLinkActive="active">Cancel</a>  
    </div>
</div>