<div class="text-right">
        <a class="glow" (click)="logout()">Log Out</a>  
</div>
<br>
<div class="card">
    <div  class="card-header bg-dark text-white">
            <ul class="nav nav-justified">
                    <li class="nav-item">
                        <h2><a class="nav-link active">Game List</a></h2>
                    </li>
                    <li class="nav-item">
                            <h2><a class="nav-link" routerLink="/admin/player-list" routerLinkActive="active" style="font-style: italic;">Go to Player List</a></h2>
                    </li>
                </ul>
    </div>
    <div class="card-body">

            <div class="input-group mb-3">
                <input class="form-control" type="search" name="search" id="search">
                <div class="input-group-append">
                    <button class="btn btn-secondary">
                        Search
                    </button>
                </div>
            </div>
        <div class="text-right">
             <a  class="btn btn-sm btn-primary mr-3" routerLink="/add-game" routerLinkActive="active">Add Game</a> 
        </div>
        <br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Platform</th>
                    <th>Genre</th>
                    <th>Rating</th>
                    <th>Publisher</th>
                    <th>Realse</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-bordered">
                <ng-container *ngFor="let Game of filteredArray">
                    <tr>
                        <td>{{Game.game_title}}</td>
                        <td>{{Game.game_platform}}</td>
                        <td>{{Game.game_genre}}</td>
                        <td>{{Game.game_rating}}</td>
                        <td>{{Game.game_publisher}}</td>
                        <td>{{Game.game_release}}</td>
                        <td>{{Game.game_status}}</td>
                        <td>
                            <a class="btn-sm btn-secondary" routerLink="/admin/edit-game/{{Game._id}}" routerLinkActive="active">Edit</a>
                            <a class="btn-sm btn-primary" (click)='deleteGame(Game)'>X</a>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
