<div class="card">
    <div  class="card-header bg-dark text-white">
        <h2>Game List</h2>
    </div>
    <div class="card-body">

            <div class="input-group mb-3">
                <input class="form-control" type="search" name="search" id="search">
                <div class="input-group-append">
                    <button class="btn btn-secondary">
                        Search
                    </button>
                </div>
            </div>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Platform</th>
                    <th>Genre</th>
                    <th>Rating</th>
                    <th>Publisher</th>
                    <th>Realse</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="table-bordered">
                <tr>  
                    <td>Title</td>
                    <td>Platform</td>
                    <td>Genre</td>
                    <td>Rating</td>
                    <td>Publisher</td>
                    <td>Realse</td>
                    <td>Status</td>
                </tr>  
                <tr>  
                        <td>Title</td>
                        <td>Platform</td>
                        <td>Genre</td>
                        <td>Rating</td>
                        <td>Publisher</td>
                        <td>Realse</td>
                        <td>Status</td>
                </tr>  
                <tr>  
                    <td>Title</td>
                    <td>Platform</td>
                    <td>Genre</td>
                    <td>Rating</td>
                    <td>Publisher</td>
                    <td>Realse</td>
                    <td>Status</td>
                </tr>  
            </tbody>
        </table>
    </div>
</div>
