<div class="text-right">
    <button class="glow btn btn-link" (click)="authSerive.login()" *ngIf="!authSerive.loggedIn">Log In</button>
    <a class="glow" routerLink="/admin/player-list" *ngIf="authSerive.loggedIn">Admin Tools |</a>
    <button class="glow btn btn-link" routerLinkActive="active" (click)="authSerive.logout()" *ngIf="authSerive.loggedIn">Log Out</button>
</div>
<br>
<div class="card">
        <div  class="card-header bg-dark text-white">
            <h2>Player Rankings</h2>
        </div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="search" name="search" id="search" (input)='updateFilter($event)'>
                <span class="input-group-append">
                    <span class="btn btn-secondary">
                        Search
                    </span>    
                </span> 
            </div>
            <br>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Player</th>
                        <th>Rank</th>
                        <th>Score</th>
                        <th>Time</th>
                        <th>Favourate Game</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-bordered">
                    <ng-container *ngFor="let Player of filteredArray">
                        <tr>
                            <td>{{Player.player_name}}</td>
                            <td>{{Player.player_rank}}</td>
                            <td>{{Player.player_score}}</td>
                            <td>{{Player.player_time}}</td>
                            <td>{{Player.player_fav_game}}</td>
                            <td>{{Player.player_status}}</td>
                            <td>
                                <a *ngIf="Player.player_status=='Availible'" class="btn-sm btn-primary" routerLink="/join-game/{{Player._id}}" routerLinkActive="active">Join Game</a>
                                <a *ngIf="Player.player_status=='Unavailible'" class="btn-sm btn-secondary" (click)="leave_game(Player._id})" >Leave Game</a>
                            </td>
                        </tr>
                    </ng-container> 
                </tbody>
            </table>
        </div>
    </div>