<div class="text-right">
        <a class="btn btn-sm btn-primary" routerLink="/" routerLinkActive="active">Login Out</a>  
</div>
    <br>
<div class="card">
    <div  class="card-header bg-dark text-white">
            <ul class="nav nav-justified">
                <li class="nav-item">
                    <h2><a class="nav-link active">Player List</a></h2>
                </li>
                <li class="nav-item">
                        <h2><a class="nav-link" routerLink="/game-list" routerLinkActive="active">Go to Game List</a></h2>
                </li>
            </ul>
        </div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="search" name="search" id="search" (input)='updateFilter($event)'>
                    <span class="input-group-append">
                        <span class="btn btn-secondary">
                            Search
                        </span>    
                    </span> 
                </div>
                <br>
                <div class="text-right">
                    <a  class="btn btn-sm btn-primary  mr-3" routerLink="/add-player" routerLinkActive="active">Add Player</a>
                    
                </div>                
                <br>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Player</th>
                            <th>Rank</th>
                            <th>Score</th>
                            <th>Time</th>
                            <th>Favourate Game</th>
                            <th>Status</th>
                            <th>
                                    
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-bordered">
                        <ng-container *ngFor="let Player of filteredArray">
                            <tr>
                                <td>{{Player.player_name}}</td>
                                <td>{{Player.player_rank}}</td>
                                <td>{{Player.player_score}}</td>
                                <td>{{Player.player_time}}</td>
                                <td>{{Player.player_fav_game}}</td>
                                <td>{{Player.player_status}}</td>
                                <td>
                                    <a class="btn-sm btn-secondary" routerLink="/edit-player/{{Player._id}}" routerLinkActive="active">Edit</a>
                                    <a class="btn-sm btn-primary" (click)='deletePlayer(Player)'>X</a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
        </div>
    </div>