

<div class="card">
    <div  class="card-header bg-dark text-white">
        <h2>Edit Game</h2>
    </div>
    
    <div class="card-body">
        <form [formGroup]="editGameForm" (ngSubmit)="submitEditGameForm()">
        <div class="form-group row">
                <label for="game-title" class="col-sm-2 col-form-label">Game Title: </label>
                <div class="col-sm-10">
                    <input type="text" id="game-title" class="form-control" formControlName="game_title" >
                    <p *ngIf="game_title.invalid && (game_title.dirty || game_title.touched || submitted)" class="text-danger">Title is Required</p>
                </div>
            </div>

            <div class="form-group row">
                <label for="game-platform" class="col-sm-2 col-form-label">Platform: </label>
                <div class="col-sm-10">
                    <select id="game-platform" class="form-control" formControlName="game_platform">
                        <option *ngFor="let platform of platformsArray;" [ngValue]="platform">{{platform}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="game-genre" class="col-sm-2 col-form-label">Genre: </label>
                <div class="col-sm-10">
                    <select id="game-genre" class="form-control" formControlName="game_genre">
                        <option *ngFor="let genre of genresArray;" [ngValue]="genre">{{genre}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="game-rating" class="col-sm-2 col-form-label">Ratings: </label>
                <div class="col-sm-10">
                    <select id="game-rating" class="form-control" formControlName="game_rating">
                        <option *ngFor="let i of ratingsArray;" [ngValue]="i">{{i}} Star</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="game-publisher" class="col-sm-2 col-form-label">Publisher: </label>
                <div class="col-sm-10">
                    <input type="text" id="game-publisher" class="form-control" formControlName="game_publisher" >
                    <p *ngIf="game_publisher.invalid && (game_publisher.dirty || game_publisher.touched || submitted)" class="text-danger">Publisher is Required</p>
                </div>
            </div>

            <div class="form-group row">
                <label for="game-release" class="col-sm-2 col-form-label">Release Year: </label>
                <div class="col-sm-10">
                    <input type="number" id="game-release" class="form-control" formControlName="game_release" value="{{currYear}}">
                </div>
            </div>

            <div class="form-group row">
                <label for="game-status"class="col-sm-2 col-form-label">Status: </label>
                <div class="col-sm-10">
                    <select id="game-status" class="form-control" formControlName="game_status">
                        <option *ngFor="let status of statusArray" [ngValue]="status">{{status}}</option>
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-primary mr-3">
            <a class="btn btn-primary" routerLink="/admin/game-list" routerLinkActive="active">Cancel</a>  
        </form>
    </div>
</div>
    
