$primary: darkorange;
$body-bg: darkgray;
$jumbotron-bg:  darkorange;
$jumbotron-color: yellow;
$display1-weight: 600;
$card-border-color: black;
$headings-font-family: "bauhaus 93";
$font-family-base: "copperplate gothic lite";

//@import '../node_modules/bootstrap/scss/bootstrap';

.jumbotron > h1 {
    font-style: italic;
}