$primary: darkorange;
$body-bg: darkgray;
$jumbotron-bg:  darkorange;
$jumbotron-color: darkred;
$display1-weight: 600;
$card-border-color: black;
$headings-font-family: "copperplate gothic bold";

@import '../node_modules/bootstrap/scss/bootstrap';

